@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Manrope', sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #facc15;
    border-radius: 10px;
}

.hide-scrollbar {
  overflow: auto;        
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;       
}